/* css resets https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  /* font-family: 'Montserrat Alternates', sans-serif; */
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a,
li {
  text-decoration: none;
  list-style: none;
}

/* reset ends */

/* css variables */
:root {
  --color-primary: #03989e;
  --color-secondary: hsl(233, 88%, 32%);
  --bg-color-primary: #111;
  --bg-color-secondary: aliceblue;
  --color-link: rgb(80, 170, 255);
  --transition: .2s ease-in-out;
}

/* utility classes */

.h2-heading {
  text-align: center;
  padding: 4rem 1rem;
  font-size: 3rem;
  color: var(--color-primary);
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.links {
  color: var(--color-link);
  transition: var(--transition);
  border-bottom: #03999e00 solid 3px;
}

.links:hover {
  border-bottom: 3px solid var(--color-link);
  color: var(--color-link);
  cursor: pointer;
  transition: var(--transition);
}

/* nav bar styles */
#nav-logo-link {
  width: 5rem;
  display: grid;
  place-items: center;
}

.nav-link {
  font-size: larger;
  color: var(--color-primary);
  padding: 0 5px;
  transition: var(--transition);
  border: var(--color-link) solid 0px;
}

.nav-link:hover {
  border-bottom: 3px solid var(--color-link);
  color: var(--color-link);
  cursor: pointer;
  transition: var(--transition);
}


#nav-logo {
  border: var(--color-primary) solid 2px;
  padding: .5rem;
  border-radius: 50%;
  transition: var(--transition);
}

#nav-logo:hover {
  padding: 0rem;
  border: var(--color-primary) solid 0px;
  transition: var(--transition);
}

#nav-bar {
  position: sticky;
  top: 0;
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  overflow: none;
  z-index: 50;
  background-color: var(--bg-color-secondary);
}


.menu-content {
  display: flex;
  color: var(--color-primary);
  align-items: center;
  transition: var(--transition);
}

.menu-content li {
  padding: 0 5px;
}


#responsive-menu {
  display: none;
}


/* main */
main {
  padding-top: 90vh;
}

/* section about-me */
.about-me-card {
  margin-top: 5rem;
  background-color: var(--bg-color-secondary);
  color: var(--color-primary);
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
  padding: 2rem 1rem 2rem 0rem;
}

.about-me-card_card-main {
  border-right: 2px solid var(--color-primary);
  padding-right: .5rem;
}

.about-me-card svg {
  width: 1.2rem;
  display: block;
  margin-right: .5rem;
}

.about-me-li {
  display: flex;
  align-items: center;
}

.card-head img {
  width: 3rem;
  margin-right: 1rem;
  padding: .5rem;
  border-radius: 50%;
  border: var(--color-primary) solid 2px;
}


.card-head {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.card-head_social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.card-head_social-links a {
  margin: 0rem 1rem;
}

.card-head_social-links i {
  font-size: 2rem;
}



.card-description h2 {
  text-align: center;
  padding: 0rem 0rem 1rem 0rem;
}


/* projects */

#projects {
  padding: 0rem 3rem;
  margin: auto;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 2rem;
}

.project-card {
  background-color: var(--bg-color-secondary);
  box-shadow: 0px 0px 0px var(--color-primary);
  transition: var(--transition);
  box-shadow: .8px .9px 3px grey;

}

.project-card:hover {
  box-shadow: 1px 8px 20px var(--color-primary);
  transition: var(--transition);
}

.project-card div:nth-child(2) {
  padding: 1rem;
}

.project-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-links svg {
  display: inline-block;
  width: 2rem;
}

.project-links i {
  font-size: 2rem;
}

/* skills */

.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 2rem;
  padding: 0rem 1rem;
}

/* form */


.form-group {
  display: flex;
  flex-direction: column;
  padding: .81rem;
  font-size: 1.2rem;
  color: var(--color-primary);
}

label {
  padding: .5rem;
  font-weight: bolder;
}


input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: .5rem;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid var(--bg-color-primary);
}

input:focus,
select:focus,
textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#submit {
  background-color: var(--bg-color-secondary);
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--color-link);
  transition: var(--transition);
  font-weight: bolder;
}

#submit:focus,
#submit:hover {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  background-color: var(--color-link);
  color: white;
  transition: var(--transition);
}


/*  footer */
footer {
  padding: 3rem 0rem;
}

/* media query */
@media only screen and (max-width: 750px) {

  /* nav bar */
  #nav-bar {
    justify-content: space-between;
  }

  .menu-content {
    position: fixed;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 100vw;
    overflow: scroll;
    transition: var(--transition);
  }

  .menu-content.active {
    position: fixed;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 30vw;
    overflow: scroll;
    background-color: var(--bg-color-secondary);
    color: var(--color-primary);
    ;
  }

  .menu-content li {
    display: block;
    padding: 0 50px;
    margin-left: -12rem;
  }

  #responsive-menu {
    display: grid;
    place-items: center;
  }

  .menu-btn {
    background: url("https://i.ibb.co/Km5Xy4T/menu.png");
    background-color: var(--color-primary);
    /* bg-color important to give after url...but why? */
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor: pointer;
    /* position: relative; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: var(--transition);
  }

  .menu-btn.active {
    border-radius: 50%;
    border: 2px solid white;
    background: url("https://i.ibb.co/QfjyJp3/close.png");
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 10;
    transition: var(--transition);
  }

  /* about card */
  .about-me-card {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    padding: 2rem 1rem 2rem 0rem;
  }

  .about-me-card_card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: none;
  }

  .card-description div {
    padding-left: 2rem;
  }

  .card-description h2 span {
    margin-top: 6rem;
    padding-top: 1rem;
    border-top: 2px solid var(--color-primary);
  }


}